body {
  background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
}
header h1 {
display: inline-block;
color: white;
margin-bottom: 10px;
overflow: auto;
}

.container-header {
  width: 70%;
  margin: auto;
}
